body {
    background-color: #eef2f8;/*#f4f4f6; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    margin-right: 0px;
}

a {
    text-decoration: none;
}

.bannertruong {
    width: 100%;

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
    background-color: #ffffff;
}
.bannertruong1 {
    width: 1140px;
    margin: 0 auto;
    height: 80px;
}
.bannertruong_img {
    /*background-size: contain;
    background-repeat: no-repeat;*/
    margin-top: 10px;
}
.bannertruong_tentruong {
    /*background-size: contain;
    background-repeat: no-repeat;*/
    color: #353e4e;
    font-size: 14px;
    line-height: 80px;
    float: right;
}

.thanhtrencung {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
    overflow: auto;
    background-color: #0a426e;
}
.thanhtrencung1 {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
    height: 50px;
}
.thanhtrencung2 {
    width: 260px;
    height: 30px;
    border-radius: 4px;
    background-color: rgba(0,0,0,.4);
    float: left;
    margin-top: 10px;
}
.thanhtrencung3 {
    line-height: 30px;
    margin-left: 20px;
    color: #eef2f8;
    font-size: large;
}.thanhtrencung4 {
    line-height: 50px;
    font-size: 16px;
    color: #ffffff;
    float: right;
    margin-left: 10px;
}
.menu {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
    font-size: 12px;
    color: #999;
    line-height: 1.28571;
    -webkit-tap-highlight-color: transparent;
    font-weight: 400;
}
.thu {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
    overflow: auto;
}
.thu1 {
    width: 100px;
    background-color: red;
    float: left;
}
.thu2 {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    padding: 0;
    background-color: blue;
}
.me {
    width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.men {
    width: 1140px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
    overflow: auto;
}
.men05 {
    overflow: auto;
    width: 220px;
    background-color: #ffffff;
    float: left;

    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);

}
.men1 {
    width: 170px;
    float: left;
    padding-left: 20px;
    overflow: auto;

}.men2 {
    font-weight: 300;
    color: #202020;
    margin-bottom: 12px;
    font-size: 24px;
    line-height: 24px;
}
.men3{ 
    list-style: none;
    padding-inline-start: 0px;
}
.men4{ 
    list-style: none;
    margin-left: 0;
    display: list-item;
    text-align: -webkit-match-parent;   
}
.men5{ 
    height: 48px;
    display: block;

    /*border-radius: 4px;
    border: 2px solid #0a426e;*/
    border-bottom: 2px solid #d73d32;

    text-decoration: none;
    cursor: pointer;
}
.men6{ 
    left: -1px;
    top: -1px;
    height: 58px;
    width: 58px;
    display: block;
    float: left;
}
.men7{ 
    max-width: 30px;
    max-height: 30px;
    margin-left: 14px;
    margin-top: 14px;
}
.men8{ 
    height: 48px;
    display: block;
    float: left;
}
.men9{ 
    font-size: 18px;
    font-weight: 500;
    color: #0d0d1f;
    line-height: 48px;
    margin-left: 20px;
}
.men1_1 {
    width: 10px;
    height: 500px;
    background-color: #eef2f8;
    float: left;
    margin-left: 30px;
}
.men1_2 {
    width: 714px;
    float: left;
}
.men10 {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
}
.men11 {
    font-size: 24px;
    font-weight: 300;
    color: #202020;
    line-height: 60px;
}
.thanhtitle {
    width: 1140px;

    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
}
.thanhtitle1 {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: block;
}
.thanhtitle2 {
    color: #0a426e;
    font-size: 29px;
    font-weight: bolder;
    line-height: 60px;
}
.thanhtitle3 {
    color: #797f89;
    font-size: 18px;
    line-height: 30px;
}
.bang {
    width: 96%;
    float: left;
    margin-left: 10px;
    background-color: #ffffff;
    padding-left: 5px;
    padding-right: 10px;
    padding-bottom: 10px;

    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);

}
.bang1 {
    width: 100%;
    overflow: auto;
    border-bottom: 1px solid #dee2e6;

}
.bang_title {
    padding-left: 5px;

    font-size: 24px;
    font-weight: 300;
    padding-top: 20px;
    padding-bottom: 18px;
    color: #0a426e;
    width: 50%;
    float: left;
}
.bang_tencot {
    overflow: auto;
    border-bottom: 2px solid #dee2e6;
    padding-left: 5px;

}
.bang_tencot_1 {
    font-size: 18px;
    line-height: 50px;
    color: #353e4e;
    font-weight: 700;
    width: 20%;
    float: left;
}
.bang_hang {
    overflow: auto;
    border-bottom: 1px solid #dee2e6;
    padding-left: 5px;

}
.bang_hang_1 {
    font-size: 17px;
    line-height: 50px;
    color: #0d0d1f;
    font-weight: 500;
    width: 20%;
    float: left;
}
.bang_addgv {
    background-color: #0a426e;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    border: #0a426e;
    cursor: pointer;
    width: 20%;
    margin-top: 15px;
    text-align: center;
    float: right;


}
.addgv {
    width: 1140px;
    margin: 0 auto;
    background-color: #fff;
    display: block;
    overflow: auto;
    padding-bottom: 20px;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
}
.addgv1 {
    padding-left: 10px;
    padding-right: 10px;

}
.addgv_title {
    font-size: 25px;
    font-weight: 700;
    color: #0d0d1f;
    line-height: 50px;
    margin-bottom: 20px;
}
.adgv2 {
    overflow: auto;
    margin-bottom: 10px;
}
.addgv_tb {
    width: 30%;
    float: left;
}
.addgv_tb1 {
    color: #6d727c;
    font-size: 20px;
    line-height: 35px;
}
.addgv_tb2 {
    width: 90%;
    color: #0d0d1f;
    font-size: 17px;
    height: 30px;
}
.addgv_hangcuoi {
    width: 100%;
    overflow: auto;
}
.addgv_message {
    font-size: 20px;
    font-weight: 700;
    float: left;
    line-height: 40px;
    color: #d3232a;
}
.addgv_button {
    background-color: #0a426e;
    color: #fff;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    border: #0a426e;
    cursor: pointer;
    float: right;
    margin-right: 20px;
    width: 20%;
    margin-top: 20px;
}
.shop3 {
    overflow: auto;
    border: 1px solid gray;
    border-radius: 3px;
}
.shop4 {
    margin-left: 20px;
    width: 230px;
    line-height: 44px;
    border: 0px solid gray;
    color: #202020;
}
.no-outline:focus {
    outline: none;
}
.shop5 {
    width: 35px;
    height: 35px;
    border: none;
    margin-top: 5px;
    margin-right: 10px;
    float: right;
}
.pagina {
    width: 260px;
    margin: 0 auto;
    overflow: auto;
    margin-top: 15px;
}
.pagina_lui {
    width: 50px;
    height: 50px;
    border: 1px solid #dee2e6;
    display: block;
    float: left;
    line-height: 50px;
    text-align: center;
    font-weight: 700;
    color: #353e4e;

    cursor: pointer;
}